@use "global" as *;


.s1 {

}

.s1__inner {

}

.s1-grid {
  max-width: rem(740);
  margin-inline: auto;
}

.s1__products {
  margin-top: rem(25);
  width: rem(300);
  margin-inline: auto;

  @include mq(md) {
    width: rem(400);
  }
}
