@use "global" as *;


.s10 {

}

.s10__inner {

}

.s10__swiper-container {
  max-width: rem(560);
  margin-inline: auto;
}

.s10__swiper {

}

.s10__swiper-wrapper {

}

.s10__swiper-slide {

}

.s10__slide-item {

}

.s10__products {
  margin-top: rem(25);
}
