@use "global" as *;


.s5 {
  background: $color-accent1;
}

.l-s5 {

}

.s5__inner {

}

.s5__top-bg {
  margin: 0 calc(50% - 50vw);
  display: block;

  img {
    width: 100vw;
    margin: 0 calc(50% - 50vw);  // 親要素をはみ出るように指定。(『width: 100vw;』と併用で適用可能)
  }
}

.s5__products {
  margin-top: rem(25);
}

.s5__products .products__item {
  margin-right: 0;
  margin-left: auto;
  border-bottom: 1px dashed #000;
}
