@use "sass:math";


// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1000px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 40px;
$padding-sp: 25px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Libre Baskerville", serif;
$second-font-family: "Bodoni Moda SC", serif;
// ※検証ツールでしっかり反映されているか確認する


// フォントの読み込み

@font-face {
  font-family: 'AntroVectraBolder';
  src: url('../../fonts/Antro_Vectra.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  /* 必要に応じて他のフォント形式を追加 */
}


body {
  font-family: $base-font-family;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
$color-accent1: #E3DDD6;



// .hidden-pc {
//   display: block;

//   @include mq(md) {
//     display: none;
//   }
// }

// .hidden-sp {
//   display: none;

//   @include mq(md) {
//     display: block;
//   }
// }
