@use "global" as *;


.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(5);

  @include mq(md) {
    gap: 0;
  }
}

.cards__item {
  width: 33.3%;

  @include mq(md) {
    width: rem(214);
    gap: 0;
  }
}

.cards__item.hidden-pc {
  @include mq(md) {
    display: none;
  }
}

.cards__item.is-right {
  @include mq(md) {
    margin-left: rem(-3);
  }
}





/* モディファイア */
// s6 セクション
.cards--s6 {
  justify-content: space-between;
}

.cards--s6 .cards__item.hidden-sp {  // SP時は非表示
  display: none;

  @include mq(md) {
    display: block;
  }
}

.cards--s6 .cards__item {
  width: 50%;

  @include mq(md) {
    width: 31.8%;
  }
}
