@use "global" as *;


.products {

}

.products__item {
  width: rem(300);
  margin-inline: auto;

  @include mq(md) {
    width: rem(360);
    margin-inline: auto;
  }
}



// s3など、商品リストの位置がSPとPCで大きく異なる場合
.products.hidden-pc {
  @include mq(md) {
    display: none;
  }
}

.products.hidden-sp {
  display: none;

  @include mq(md) {
    display: block;
  }
}




/* モディファイア */
// products--divide (s2 セクション)
.products--divide:nth-of-type(n + 2) {  // 2番目以降の要素にborder-topを付与
  @include mq(md) {
    border-top: 1px dashed #000;
  }
}
